html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

ul {
    list-style: none;
}

.screen {
    display: none;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#startScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #4caf50;
    color: white;
    z-index: 3; /* Überlagert den Game Screen */
}

#gameScreen {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 2; /* Liegt unter dem Startbildschirm */
}

#goalScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #4caf50;
    color: white;
    z-index: 1; /* Überlagert den Game Screen */
}



#startButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startButton:hover {
    background-color: #555;
}

canvas { 
    border: 2px solid black;
    display: block; 
    margin: 0;
    padding: 0; 
}

#topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 370px;
}

#timer {
    font-size: 18px;
    font-weight: bold;
}

#playPauseButton {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;            
}

#goal1Congrats {
    font-size: larger;
    font-weight: bold;
    padding-bottom: 10px;
}

#goal1Question {
    margin-top: 2rem;
}


#level2Button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#level2Button:hover {
    background-color: #555;
}

#level2Screen {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 2; /* Liegt unter dem Startbildschirm */
}
